<app-user-logout></app-user-logout>
<div id = "new-question">
	<h3>New Question</h3>

<form (submit)="onSubmit(); 
	createPost.resetForm()" 
	#createPost="ngForm">
<p>
	Question: <input 
	id = "padded"
	name="title"
	required
	minlength="1"
	maxlength="20"
	[(ngModel)]="post.title"
	#title="ngModel" />

	{{ title.errors | json }}
</p>
<p>
	Description (optional): <textarea
	id = "padded"
	name="content"
	minlength="1"
	maxlength="300"
	[(ngModel)]="post.content"
	#content="ngModel" >
		

	</textarea>
	{{ content.errors | json }}
</p>
	<button type="submit">
		Create Post		
	</button>
	
</form>
</div>
